APP_NAME="backend-aziface-partner-assemble-example"
INSTANCES_NUMBER=3
PORT=60000

DATABASE_URL="mysql://USERNAME:PASSWORD@localhost:3308/DATABASENAME"

NODE_ENV=development

CORS_ORIGIN="*"

API_KEY="API_KEY"

JWT_SECRET="your-jwt-secret-key-here-change-in-production"
JWT_EXPIRES_IN=3600

AES_KEY="aes-key"

ASSEMBLE_URL="http://localhost:30000"